@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    font-family: "Raleway", sans-serif;
    background-color: #ecf0f3;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold tracking-wider;
  }
}

.badge {
  @apply text-sm text-white hover:text-black  bg-cyan-700 hover:bg-gray-300 text-xs md:text-sm my-4 mx-4 px-2 py-1 rounded-full;
}

.bg1 {
  @apply bg-gradient-to-br from-cyan-400 to-blue-600;
}

.button1 {
  @apply text-white bg-cyan-700 bg-gradient-to-br from-cyan-400 to-blue-600 duration-150 ease-in shadow-lg shadow-gray-200 hover:shadow-none hover:from-blue-400 hover:to-cyan-400 hover:hover:text-white;
}

.customComponentContainer {
  @apply max-w-screen-xl md:container mx-auto px-8 py-16 text-center;
}
